@{
    ViewData["Title"] = "Task 3 C# Web App";
}
<div class="text-center">
    <h1>Welcome to My Task 3 C# Web App!</h1>
    <p>This is a custom ASP.NET Core MVC app developed for SWE40006 Deployment Activity 3.</p>
    <p>Current Server Time: @DateTime.Now</p>
</div>